#menu-base {
  padding: unset;
  margin: unset;
}

/* Bouton Commander */
#bouton_commander {
  width: 198px;
  height: 55px;
  border-style: none;
  background-color: #E0B9B4;
  font-size: 15px;
  font-weight: 400;
  line-height: 37px;
  font-family: 'Syne', sans-serif;
  color: white;
  padding : 9px 57px;
}

#bouton_commander:hover {
 background-color: #c02e44;
}

/* Mentions légales Pied de page */
.mentions {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Syne', sans-serif;
}

/* Formulaire Nous contacter */
#frm_form_1_container {
  width: 383px;
}

#field_9jv0r1 {
  height: 237px;
  border-radius: 7px;
  border: unset;
}

#field_29yf4d,
#field_qh4icy {
  height: 71px;
  border-radius: 7px;
  border: unset;
}

#field_qh4icy_label {
  font-family: 'Syne', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: black;
  margin-bottom: 5px;
}

#field_9jv0r1_label {
  font-family: 'Syne', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: black;
  margin-bottom: 5px;
}

#field_29yf4d_label {
  font-family: 'Syne', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: black;
  margin-bottom: 5px;
}

.frm_button_submit {
  color: black;
}

.product-count {
  display: flex;
}

.boutons {
  width: 43px;
  height: 50px;
  margin-right: 6px;
}

/* ESPACE VOTRE COMMANDE */

/* Boutons + et - */
.minus-button,
.plus-button {
  width: 36px;
  height: 28px;
  border-style: none;
  background-color: #dc9f96;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.minus-button {
  border-top-right-radius: 5px;
  border-bottom: solid white 1px;
}

.plus-button {
  border-bottom-right-radius: 5px;
  border-top: solid white 1px;
}

/* Quantités */
.count-textbox {
  width: 50px;
  z-index: 2;
  overflow: hidden;
}

.quantite {
  width: 70px;
  height: 56px;
  text-align: center;
  border-style: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 400;
  z-index: 1;
}

/* Bouton OK */
.form-ok {
  display: flex;
  width: 192px;
}

.okay {
  background-color: #E0B9B4;
  width: 100px;
  height: 56px;
  border-style: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Syne', sans-serif;
  color: white;
}

/* Formulaire Commander */
.container-commande {
  display: flex;
  flex-direction: column;
  width: 192px;
}

.container-commande img {
  margin-bottom: 10px;
  margin-right: 10px;
  width: 192px;
}

.double-colonne {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 60px;
  margin-bottom: 10px;
}

.double-colonne h2 {
  text-align: left;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  font-family: 'Syne', sans-serif;
  color: white;
  margin-bottom: 15px;
}

#field_ntwda,
#field_um51g,
#field_jw750,
#field_lhisl,
#field_nexkd,
#field_n9qqj {
  height: 67px;
  border-radius: 7px;
  border: unset;
}

#field_ntwda_label,
#field_um51g_label,
#field_jw750_label,
#field_lhisl_label,
#field_nexkd_label,
#field_n9qqj_label {
  color: white;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
}

/* Menu */
.text-wrap {
  font-family: 'Syne', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.vertical-line {
  border: solid 1px white;
  height: 95%;
}

/* Bouton Commander */

#site-navigation #menu-item-659 a {
background-color : #DC9F96;
}

#site-navigation #menu-item-659 a:hover {
background-color : #c02e44;
}

#menu-item-659 .text-wrap {
color: white;
}

/* Media Queries */
@media screen and (max-width:950px) {
  .vertical-line {
    display: none;
  }
}

#menu-commander {
  height: 81px;
  padding: 0 50px 0 50px;
  border: unset;
  color: white;
  background-color: #DC9F96;
}

#menu-commander a {
  color: white;
  font-family: 'Syne', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19;
}